.idea

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

#### scala ####

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# OS specific
.DS_Store

# data
data/
*.tsv
*.svg
*.gephi
*.DS_Store
*.jsonline

# jupyter files
.ipynb_checkpoints
*.pyc
